#intro-bg,
#earth-bg,
#orign-bg,
#status-bg
{
    position: fixed;
}

.index-bg,
.intro-bg
{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: fixed;
}

.index-bg
{
    background-image: url(../images/index-bg.jpg);
}

.intro-bg1
{
    background-image: url(../images/intro-bg1.jpg);
}
.intro-bg2
{
    background-image: url(../images/intro-bg2.jpg);
}
.intro-bg3
{
    background-image: url(../images/intro-bg3.jpg);
}
.intro-bg4
{
    background-image: url(../images/intro-bg4.jpg);
}
.intro-bg5
{
    background-image: url(../images/intro-bg5.jpg);
}

.block-link
{
    cursor: pointer !important;
}

.bg
{
    height: 100% !important;
    /* background-color: black; */
}

.left-bg
{
    background-size: 100% 100%;
    height: 100%;
}

#generalization-bg
{
    background-image: url(../images/generalization-bg.jpg);
}

#problem-bg
{
    background-image: url(../images/problem-bg.png);
}

#protect-bg
{
    background-image: url(../images/protect-bg.jpg);
}

.nav-right
{
    background-color: rgba(245,245,245,1);
}

#problem-right
{
    background-color:rgba(16, 16, 16, 0.13);
}

.nav-title1
{
    margin-top: 5%;
    font-size: 5em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#nav-title1-1
{
    color: rgb(159, 188, 208);
}

#nav-title1-2
{
    color:rgba(6, 6, 6, 0.62);
}

#nav-title1-3
{
    color: rgba(51, 114, 185, 0.61);
}

.nav-title2
{
    font-weight: bold;
}

.nav-title2 p
{
    margin-top: 10%;
}

#nav-title2-1
{
    color:rgb(54, 124, 178);
}

#nav-title2-2
{
    color:rgba(16, 16, 16, 0.66);
}

#nav-title2-3
{
    color:rgba(189, 153, 77, 1);
}

.nav-title3 span
{
    font-weight: bold;
}

#nav-title3-1
{
    color: rgb(8,3,2);
    align-self: center;
    letter-spacing: 0.3em;
}

#nav-title3-2
{
    color: rgba(117, 15, 15, 1);
    align-self: center;
    letter-spacing: 0.3em;
}

#nav-title3-3
{
    color: rgb(8,3,2);
    align-self: center;
    letter-spacing: 0.3em;
}
#more-generalization
{
    background-image: url(../images/rec-bg.png);
    background-size: 100% 100%;
}

#more-problem
{
    background-image: url(../images/rec-bg-red.png);
    background-size: 100% 100%;
}

#more-protect
{
    background-image: url(../images/rec-bg-deepgrey.png);
    background-size: 100% 100%;
}
.crumb
{
    list-style: none;
    display: inline-block;
}
.crumb .icon
{
    font-size: 14px;
}
.crumb li
{
    float: left;
}
.crumb li a
{
    color: #FFF;
    display: block;
    background: #3498db;
    text-decoration: none;
    position: relative;
    height: 40px;
    line-height: 40px;
    padding: 0 10px 0 5px;
    text-align: center;
    margin-right: 23px;
}
.crumb li:nth-child(even) a
{
    background-color: #2980b9;
}
.crumb li:nth-child(even) a:before
{
    border-color: #2980b9;
    border-left-color: transparent;
}
.crumb li:nth-child(even) a:after
{
    border-left-color: #2980b9;
}
.crumb li:first-child a
{
    padding-left: 15px;
    border-radius: 4px 0 0 4px;
}
.crumb li:first-child a:before
{
    border: none;
}
.crumb li:last-child a
{
    padding-right: 15px;
    border-radius: 0 4px 4px 0;
}
.crumb li:last-child a:after
{
    border: none;
}
.crumb li a:before, .crumb li a:after
{
    content: "";
    position: absolute;
    top: 0;
    border: 0 solid #3498db;
    border-width: 20px 10px;
    width: 0;
    height: 0;
}
.crumb li a:before
{
    left: -20px;
    border-left-color: transparent;
}
.crumb li a:after
{
    left: 100%;
    border-color: transparent;
    border-left-color: #3498db;
}
.crumb li a:hover
{
    background-color: #1abc9c;
}
.crumb li a:hover:before
{
    border-color: #1abc9c;
    border-left-color: transparent;
}
.crumb li a:hover:after
{
    border-left-color: #1abc9c;
}
.crumb li a:active
{
    background-color: #16a085;
}
.crumb li a:active:before
{
    border-color: #16a085;
    border-left-color: transparent;
}
.crumb li a:active:after
{
    border-left-color: #16a085;
}

.navbar
{
    padding-top: 20px;
    padding-left: 10%;
}

.title-sheet
{
    font-weight: 900;
    background-color: rgba(210, 172, 166, 1);
    border: 3px dashed;
}

.content-sheet
{
    background-color: rgba(255, 255, 255, 0.6);
    margin-bottom: 100px;
    margin-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 20px;
}

.left-right
{
    text-align:center;
    align-self:center;
    /* display: flex;
    justify-content:center; */
}

.huge-title
{
    font-weight: 600;
    color: white;
    text-align: left;
    /* text-align: center; */
}

.title-line
{
    margin: 45px 0;
}

#huge-title-intro
{
    color:rgba(232, 185, 167, 0.87);
}

#status-link
{
    border-color: #335A9F;
}

#origin-link
{
    border-color: #BD994D;
}

#earth-link
{
    border-color: #64AFD0;
}



#intro-content-sheet-title
{
    color:#335A9F;
}

.content-sheet-title
{
    font-weight: bolder;
    margin-left: 5%;
}

.icon-menu
{
    cursor: pointer !important;
}
.icon-menu-div
{
    padding-top: 20px;
    padding-right: 40px;
}

#origin-title-content
{
    border:3px dashed rgba(189, 153, 77, 1);
}

#earth-title-content
{
    border:3px dashed rgba(100, 175, 208, 1);
}

#status-title-content
{
    border:3px dashed rgba(51, 90, 159, 1);
}

.content-sheet-para
{
    text-indent: 5%;
    line-height: 1.8em;
    /* color: white; */
}
.carousel-control-prev-icon
{
    background-image: url("../images/icon-left-grey.png") !important;
}

.carousel-control-next-icon
{
    background-image: url("../images/icon-right-grey.png") !important;
}

.blank
{
    height:15%;
}

/*图片行布局*/
.pic1
{
    margin-top: 16px;
    margin-bottom: 16px;
}

.pic1
{
    height: 100%;
    width: 50%;
}

.pic3
{
    width:100%;
    height: 100%;
}

.pic-side
{
    width: 100%;
    height: 50%;
}
/*图片行布局end*/

.picalt/*图片注释*/
{
    justify-content: center;
    font-size: 0.6em;
}

.content-sheet-h1
{
    margin-top: 20px;
    font-weight: bold;
    /* color: white; */
}

.menu-drop
{
    background-image: url("../images/drop-grey.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.menu-hand
{
    background-image: url("../images/little-hand.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}