#index-bg
{
    background-image: url(../images/index-bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bg
{
    height: 100%;
}

#generalization-bg
{
    background-image: url(../images/generalization-bg.jpg);
    background-size: 100% 100%;
    height: 100%;
}

